*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?xd9uzk');
  src: url('../fonts/icomoon.eot?xd9uzk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xd9uzk') format('truetype'),
    url('../fonts/icomoon.woff?xd9uzk') format('woff'),
    url('../fonts/icomoon.svg?xd9uzk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


input {
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-width: 280px;
  max-width: 540px;
  margin: 0 auto;
  background: #f2f2f2;
}