:root {
  --nav-height: 46px;
  --search-height: 26px;
  --icon-ff: 'icomoon';
  --top-box-bgc: #f6f6f6;
  --search-mw: 80%;
  --snav-height: 64px;
  --snav-icon-wh: 32px;
  --gridN-h: 80px;
  --comment-mlr: 4px;
  --comment-borderr: 10px;
  --subnav-h: 150px;
  --subnav-li-mw: 56px;
  --subnav-icon-wh: 24px;
  --main-title-h: 44px;
  --main-title-icon-w: 79px;
  --main-title-icon-h: 15px;
  --main-title-trangel: 0.7rem;
}

/* 搜索框开始 */
.search-box {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: inherit;
  min-width: inherit;
  height: var(--nav-height);
  background-color: var(--top-box-bgc);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.search-box>.search {
  display: flex;
  flex: 1;
  align-self: center;
  align-items: center;
  height: var(--search-height);
  line-height: var(--search-height);
  border-radius: 6px;
  border: 1px solid #ccc;
  margin: 0 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
  min-width: var(--search-mw);
  color: #ccc;
}

.search-box>.search>p {
  /* 文字省略 */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.search-box>.search::before {
  content: "\e986";
  display: block;
  font-family: var(--icon-ff);
  margin: 0 2px 0 5px;
}

.search-box>.user {
  display: block;
  width: var(--nav-height);
  height: var(--nav-height);
  text-align: center;
  font-size: 0.8rem;
  color: #2eaae0;
  white-space: nowrap;
}

.search-box>.user::before {
  content: "\e971";
  font-family: var(--icon-ff);
  display: block;
  font-size: 1.6rem;
}

/* 搜索框结束 */

/* 焦点图开始 */
.focues {
  margin-top: var(--nav-height);
  background-color: pink;
  max-width: inherit;
  min-width: inherit;
}

.focues>.img,
.focues img {
  display: block;
  width: 100%;
}

/* 焦点图结束 */

/* 短导航栏开始 */
.snav-box {
  height: var(--snav-height);
  max-width: inherit;
  min-width: inherit;
  margin: 3px var(--comment-mlr);
  background-color: #fff;
  border-radius: var(--comment-borderr);
}

.snav-box>.snav-items {
  display: flex;
  height: 100%;
}

.snav-items>li {
  flex: 1;
}

.snav-items>li>a {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 8px;
  color: black;
}

.snav-items>li>a>span:nth-of-type(2) {
  white-space: nowrap;
  /* text-overflow: ellipsis;
overflow: hidden;
min-width: 3rem; */
}

.snav-items .snav-icon {
  width: var(--snav-icon-wh);
  height: var(--snav-icon-wh);
  background-color: pink;
}


.snav-items>li:nth-of-type(1) .snav-icon {
  background: url(../images/snav_bg.png) no-repeat 0 0;
}

.snav-items>li:nth-of-type(2) .snav-icon {
  background: url(../images/snav_bg.png) no-repeat 0 -32px;
}

.snav-items>li:nth-of-type(3) .snav-icon {
  background: url(../images/snav_bg.png) no-repeat 0 -64px;
}

.snav-items>li:nth-of-type(4) .snav-icon {
  background: url(../images/snav_bg.png) no-repeat 0 -96px;
}

.snav-items>li:nth-of-type(5) .snav-icon {
  background: url(../images/snav_bg.png) no-repeat 0 -128px;
}

.snav-items>li:nth-of-type(n) span.snav-icon {
  background-size: var(--snav-icon-wh) auto;
}

/* 短导航栏结束 */

/* 格子导航栏开始 */
.gridN {
  min-width: inherit;
  max-width: inherit;
  margin: 1px var(--comment-mlr);
  border-radius: var(--comment-borderr);
  overflow: hidden;
  line-height: calc(var(--gridN-h) / 2);
}

.gridN>.gnav-box {
  display: flex;
  height: var(--gridN-h);
}

.gridN>div:nth-of-type(1) {
  background: linear-gradient(to right, #ed1c24, #ff9700);
}

.gridN>div:nth-of-type(2) {
  margin: 2px 0;
  background: linear-gradient(to right, #8dc63f, #39b54a);
}

.gridN>div:nth-of-type(3) {
  background: linear-gradient(to right, #6739b6, #ec008c);
}

.gnav-box>div {
  display: flex;
  flex: 1;
  flex-flow: column;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.gnav-box a {
  flex: 1;
  text-shadow: 1px 1px rgba(255, 255, 255, .2);
  color: #fff;
}

.gnav-box>div:not(:nth-last-child(1)) {
  border-right: 1px solid #fff;
}

.gnav-box>div:not(:nth-child(1))>a:nth-child(1) {
  border-bottom: 1px solid #fff;
}

.gnav-box>.title>a {
  background: url(../images/hotel.png) no-repeat bottom center;
  background-size: 121px auto;
}

/* 格子导航栏结束 */

/* 子导航栏开始 */
.subnav {
  display: flex;
  height: var(--subnav-h);
  max-width: inherit;
  min-width: inherit;
  overflow: hidden;
  border-radius: var(--comment-borderr);
  margin: 5px var(--comment-mlr);
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .4);
}

.subnav>ul {
  flex: 1;
  max-width: inherit;
  min-width: inherit;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 2px;
}

.subnav>ul>li {
  max-width: 100%;
  min-width: var(--subnav-li-mw);
}

.subnav>ul>li>a {
  display: flex;
  height: 100%;
  width: 100%;
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.subnav>ul>li>a>.subnav-icon {
  width: var(--subnav-icon-wh);
  height: var(--subnav-icon-wh);
  background: url(../images/subnav-bg.png) no-repeat 0 0;
  background-size: var(--subnav-icon-wh) auto;
}

/* 子导航栏结束 */

/* 内容开始 */
.main-box {
  max-width: inherit;
  min-width: inherit;
  margin: 2px var(--comment-mlr) 0;
  background-color: #fff;
  border-top: 1px solid #bbb;
}

.main-box>.title {
  position: relative;
  justify-content: space-between;
  height: var(--main-title-h);
  border-bottom: 1px solid #ccc;
}

.main-box>.title>h2 {
  font-size: 0;
}

.main-box>.title>h2::after {
  content: "";
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  width: var(--main-title-icon-w);
  height: var(--main-title-icon-h);
  background: url(../images/hot.png) no-repeat 0 -20px;
  background-size: 79px auto;
}

.main-box>.title>.more {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4%;
  background: linear-gradient(to left, #FF506C, #FF6BC6);
  border-radius: var(--comment-borderr);
  padding: 1px 15px 1px 5px;
}

.main-box>.title>.more::after {
  content: "";
  position: absolute;
  top: 7px;
  height: var(--main-title-trangel);
  width: var(--main-title-trangel);
  border-width: 2px 2px 0 0;
  border-style: solid;
  border-color: #fff;
  transform: rotate(45deg);
}

.main-box>.title>.more>span {
  /* position: absolute; */
  color: #fff;
}

.main-box>.ad>div {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.main-box>.ad>div>a:nth-of-type(1) {
  border-right: 1px solid #eee;
}

.main-box>.ad a {
  flex: 1;
}

.main-box>.ad a>img {
  display: block;
  width: 100%;
}

/* 内容结束 */

/* 底部开始 */
.footer {
  max-width: inherit;
  min-width: inherit;
  background-color: #fff;
  margin: 5px var(--comment-mlr) 0px;
}

.footer>ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.footer>ul>li>a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 3px 0;
}

.footer>ul>li:nth-of-type(1)>a:before {
  content: '\e942';
  width: min-content;
  font-family: 'icomoon';
}

.footer>ul>li:nth-of-type(2)>a:before {
  content: '\e95e';
  width: min-content;
  font-family: 'icomoon';
}

.footer>ul>li:nth-of-type(3)>a:before {
  content: '\e971';
  width: min-content;
  font-family: 'icomoon';
}

/* 底部结束 */